@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-google-sans: "Google Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #0c2b4c;
  --color-secondary: #ffc72c;
  --color-primary-neutral: #eeeeee;
  --color-content: #333333;
}

body {
  @apply font-google-sans text-content bg-primary-neutral dark:bg-zinc-900 dark:text-primary-neutral;
}

input,
select,
textarea {
  @apply w-full p-2 border-2 rounded-sm border-zinc-950 focus-visible:outline-indigo-600 dark:border-gray-300;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  background-color: #f3d4b3;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
}
